@import "vars";
@import "libs";
@import "fonts";
@import "function";

/* <===== dafault style =====> */

*,
*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  span {
    color: $red;
    transition: color 0.3s ease-in-out;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}

.container {
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

/* <===== end dafault style =====> */

/* <===== header =====> */

.header {
  background-position: top;
  background-repeat: no-repeat;
  height: 1060px;
  @include Montserrat();
}

.header__row {
  margin-bottom: 305px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  z-index: 10;
}

.mobile-btn {
  display: none;
  width: 40px;
  height: 25px;
  position: relative;
  span {
    position: absolute;
    background-color: $darkBlue;
    width: 100%;
    height: 5px;
    transition: all 0.2s ease-in-out;
  }
  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2) {
    top: 10px;
  }
  span:nth-child(3) {
    top: 20px;
  }
  &__active {
    span:nth-child(1) {
      top: 10px;
      transform: rotate(-45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      top: 10px;
      transform: rotate(45deg);
    }
    span{
      background-color: #fff;
    }
  }
}

.nav {
  ul li {
    display: inline-block;
    margin: 0 18px;
    text-transform: uppercase;
    font-size: 14px;
    a {
      color: $darkBlue;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: $red;
      }
    }
    i {
      font-size: 22px;
      color: $red;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: $darkBlue;
      }
    }
  }
}

.slogan {
  max-width: 480px;
  color: $darkBlue;
  display: inline-block;
  h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    letter-spacing: -0.43px;
    margin-bottom: 10px;
  }
  p {
    @include Sans();
    font-size: 20px;
    line-height: 43px;
    margin-bottom: 36px;
  }
}

.slogan__btn {
  font-weight: bold;
  text-transform: uppercase;
  @include Sans();
  font-size: 15px;
  a {
    color: #fff;
    padding: 24px 42px;
    background-color: $red;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: $darkBlue;
    }
  }
}

/* <===== end header =====> */

/* <=====  main =====> */

.main {
  margin-top: 65px;
  margin-bottom: 20px;
}

.main__row {
}

.posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.post {
  margin-top: 15px;
  padding: 10px 0;
  @include Montserrat();
  max-width: 300px;
  h5 {
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;
    a {
      color: $darkBlue;
      transition: color 0.3s ease-in-out;
    }
    &:hover {
      a {
        color: $red;
      }
      span {
        color: $darkBlue;
      }
    }
  }
  p {
    font-size: 15px;
    line-height: 22px;
    color: $lightGray;
    margin-bottom: 19px;
  }
}

.post__btn {
  a {
    color: $red;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
  }
  span {
    margin-left: 10px;
    font-size: 18px;
    vertical-align: middle;
  }
  &:hover a {
    color: $darkBlue;
  }
  &-right {
    float: right;
  }
}

.portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__block {
  max-width: 380px;
  h2 {
    @include Montserrat();
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: -0.43px;
    a {
      color: $darkBlue;
      transition: color 0.2s linear;
    }
    &:hover {
      a {
        color: $red;
      }
      span {
        color: $darkBlue;
      }
    }
  }
  p {
    @include Sans();
    font-size: 15px;
    color: $lightGray;
    margin-bottom: 30px;
  }
}

.portfolio__suptext {
  @include Sans();
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 30px;
  p {
    color: $darkBlue;
  }
}

/* <===== end main =====> */

/* <===== team =====> */

.team {
  margin-bottom: 95px;
}

.team__title-block {
  margin-bottom: 40px;
  h3 {
    color: $darkBlue;
    text-transform: uppercase;
    font-size: 32px;
    @include Montserrat();
    font-weight: bold;
    line-height: -0.2px;
    margin-bottom: 15px;
  }
  p {
    color: $lightGray;
    font-size: 16px;
    @include Sans();
  }
}

.team__posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-post {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
.team-post__content {
  margin-top: 10px;
  margin-left: 30px;
  display: inline-block;
  h5 {
    color: $darkBlue;
    @include Montserrat();
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -0.2px;
    margin-bottom: 10px;
    transition: color 0.2s linear;
  }
  a:hover h5 {
    color: $red;
  }
}
.team-post__work {
  color: $red;
  font-size: 14px;
  @include Sans();
  margin-bottom: 10px;
}

.team-post__text {
  color: $lightGray;
  font-size: 14px;
  line-height: 20px;
}
/* <===== end team =====> */

/* <===== footer =====> */

.footer {
  padding-bottom: 40px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer_socials__inner {
  font-size: 20px;
  li {
    display: inline-block;
  }
  li + li {
    margin-left: 22px;
  }
  a {
    color: $lightGray;
    transition: color 0.2s linear;
    &:hover {
      color: $red;
    }
  }
}

.footer__design {
  color: $lightGray;
  font-size: 13px;
  @include Sans();
}

/* <===== end footer =====> */

.up-arrow {
  position: fixed;
  background-color: $red;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  line-height: 60px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  bottom: 20px;
  right: -200px;
  border-radius: 50%;
  cursor: pointer;
  // animation-delay: 5s;
  -webkit-animation: bounce-bottom 2s infinite;
  animation: bounce-bottom 2s infinite;
  &:hover {
    background-color: $red;
  }
  &.active {
    right: 20px;
    -webkit-animation: bounce-top 2s;
    animation: bounce-top 2s;
  }
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@-webkit-keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  85% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  95%,
  99% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-bottom {
  0% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  85% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  95%,
  99% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@import "media";
